<h2 mat-dialog-title class="text-lg font-bold mb-4">Update Recipe</h2>
<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="flex flex-col w-96 p-2 space-y-2">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
      @if (recipeForm.get('title')?.hasError('required') && recipeForm.get('title')?.touched) {
        <mat-error>You must enter a title</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Select Recipe Type</mat-label>
      <mat-select formControlName="veg" required>
        <mat-option value="true">Vegetarian</mat-option>
        <mat-option value="false">Non-Vegetarian</mat-option>
      </mat-select>
      @if (recipeForm.get('veg')?.hasError('required') && recipeForm.get('veg')?.touched) {
        <mat-error>You must select a recipe type</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="image" required />
      @if (recipeForm.get('image')?.hasError('required') && recipeForm.get('image')?.touched) {
        <mat-error>You must enter an image URL</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      @if (recipeForm.get('description')?.hasError('required') && recipeForm.get('description')?.touched) {
        <mat-error>You must enter a description</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="p-4 space-x-2">
    <button
      mat-button
      mat-dialog-close
      class="bg-gray-300 hover:bg-gray-400 text-black py-2 px-4 rounded"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      type="submit"
      cdkFocusInitial
      class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
    >
      Update
    </button>
  </mat-dialog-actions>
</form>
